*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeeee;
    /* background: url("https://area.sinaapp.com/bingImg/"); */
}
.container{
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.container .box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 140px;
    margin: 20px;
}
.container .box .img{
    width: 100px;
    height: 100px;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1),
    -18px -18px 30px rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efeeee;
    transition: box-shadow .2s ease-out;
    position: relative;
}

.container .box .img  img{
    width: 60px;
    transition: width 0.2s ease-out;
}
.container .box p{
    color: slategrey;
}
.container .box .img:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(255, 255, 255, 0.8),
    inset 18px 18px 30px rgba(0, 0, 0, 0.1),
    inset -18px -18px 30px rgba(255, 255, 255, 1);
    transition: box-shadow .2s ease-out;
}
.container .box .img:hover img{
    width: 58px;
    transition: width 0.2s ease-out;
}
#local{
    display: none;
}

.tgl {
    display: none
}

.tgl, .tgl *, .tgl :after, .tgl :before, .tgl + .tgl-btn, .tgl:after, .tgl:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.tgl ::-moz-selection, .tgl :after::-moz-selection, .tgl :before::-moz-selection, .tgl + .tgl-btn::-moz-selection, .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection {
    background: 0 0
}

.tgl ::selection, .tgl :after::selection, .tgl :before::selection, .tgl + .tgl-btn::selection, .tgl::selection, .tgl:after::selection, .tgl:before::selection {
    background: 0 0
}

.tgl + .tgl-btn {
    position: absolute;
    display: block;
    top: 2em;
    right: 2em;
    width: 4em;
    height: 2em;
    outline: 0;
    cursor: pointer
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    content: ""
}

.tgl + .tgl-btn:after {
    left: 0
}

.tgl + .tgl-btn:before {
    display: none
}

.tgl:checked + .tgl-btn:after {
    left: 50%
}

.tgl-flip + .tgl-btn {
    padding: 2px;
    font-family: MyriadSetPro-Thin;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-perspective: 100px;
    -ms-perspective: 100px;
    perspective: 100px
}

.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.tgl-flip + .tgl-btn:after {
    background: #FF3A19;
    content: attr(data-tg-on);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg)
}

.tgl-flip + .tgl-btn:before {
    background: #7FC6A6;
    content: attr(data-tg-off)
}

.tgl-flip + .tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg)
}

.tgl-flip:checked + .tgl-btn:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg)
}

.tgl-flip:checked + .tgl-btn:after {
    left: 0;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -ms-transform: rotateY(0)
}

.tgl-flip:checked + .tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -ms-transform: rotateY(20deg)
}

@media (min-width: 320px) and (max-width: 640px) {
    .container{
        margin-top: 2em;
    }
}
